<div *ngIf="onlineServices.length > 1; else singleService" class="dropdown-group">
  <button type="button"
          class="main-btn"
          [attr.aria-label]="onlineServices[0]?.ariaLabel || ''"
          (click)="openService(onlineServices[0])">
    {{ onlineServices[0].label || onlineServices[0].source || onlineServices[0].type }}
    <span class="icon">&#128279;</span>
  </button>
  <div class="dropdown">
    <button type="button" class="dropdown-toggle" (click)="showDropdown = !showDropdown">&#9660;</button>
    <div class="dropdown-menu" *ngIf="showDropdown">
      <button
        *ngFor="let service of onlineServices.slice(1)"
        type="button"
        class="dropdown-item"
        [attr.aria-label]="service.ariaLabel || ''"
        (click)="openService(service); showDropdown = false;">
        {{ service.label || service.source || service.type }}
        <span class="icon">&#128279;</span>
      </button>
    </div>
  </div>
</div>

<ng-template #singleService>
  <button
    *ngIf="onlineServices.length === 1"
    type="button"
    class="main-btn"
    [attr.aria-label]="onlineServices[0]?.ariaLabel || ''"
    (click)="openService(onlineServices[0])">
    {{ onlineServices[0].label || onlineServices[0].source || onlineServices[0].type }}
    <span class="icon">&#128279;</span>
  </button>
</ng-template>
